/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  zoom: 1;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* MY CSS */

:root {
  color-scheme: light only;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(123, 43, 43);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: rgb(255, 245, 245);
}

a {
  text-decoration: none;
  color: white;
}

.event-container {
  position: fixed;
  display: flex;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.6);
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
}

.event-dialog {
  background-color: rgb(250, 168, 168);
  width: 90%;
  max-height: 70%;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}


.event-dialog .container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(255,255,255);
  width: 100%;
  height: max-content;
  padding: 16px 4px 16px;
  box-sizing: border-box;
}

.event-dialog h2 {
  margin-bottom: 8px;
  font-size: 1.4em;
  text-decoration: underline;
}

.event-dialog p {
  font-size: 0.9em;
}

.event-dialog h5 {
  margin: 16px 0 8px;
  font-style: italic;
  font-size: 0.8em;
}

.event-dialog h1 {
  font-size: 1.5em;
  font-weight: bolder;
}

.event-dialog h3 {
  font-size: 1em;
  border-top: 2px black solid;
  padding: 4px 0 8px;
}

.event-dialog .event_hoid {
  margin: 8px;
  width: 25%;
  border-radius: 50%;
}

.event-dialog audio {
  width: 70%;
  height: 40px;
}

.event-dialog #close-event {
  margin-top: 16px;
  background-color: rgb(149, 40, 40);
  color: white;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-size: 1em;
  border-color: transparent;
  transition: 0.1s;
}

.event-dialog #close-event:hover {
  background-color: rgb(101, 2, 2);
}

.event-dialog #close-event:active {
  transform: scale(0.95);
}

/* Tablet */
@media screen and (min-width: 480px) {
 .event-dialog h2 {
  font-size: 1.5em;
}

.event-dialog p {
  font-size: 1em;
}

.event-dialog h5 {
  font-size: 0.9em;
}

.event-dialog h1 {
  font-size: 1.6em;
}

.event-dialog h3 {
  font-size: 1.1em;
}

.event-dialog #close-event {
  font-size: 1.1em;
  }
}

/* Laptop */
@media screen and (min-width: 768px) {
 .event-dialog h2 {
  font-size: 1.6em;

}
.event-dialog p {
  font-size: 1.1em;
}
.event-dialog h5 {
  font-size: 1em;
}

.event-dialog h1 {
  font-size: 1.7em;
}

.event-dialog h3 {
  font-size: 1.2em;
}
.event-dialog #close-event {
  font-size: 1.2em;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
 .event-dialog h2 {
  font-size: 1.7em;
}
.event-dialog p {
  font-size: 1.2em;
}
.event-dialog h5 {
  font-size: 1.1em;
}

.event-dialog h1 {
  font-size: 1.8em;
}

.event-dialog h3 {
  font-size: 1.4em;
}
.event-dialog #close-event {
  font-size: 1.3em;
  }
}


.header {
  position: fixed;
  background-color: rgb(230, 60, 60);
  top: -1px;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
  transition: top 0.3s;
}

.header img {
  position: relative;
  float: left;
  border-radius: 50%;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 45px;
}

a.discord-nav {
  position: relative;
  float: right;
  text-align: center;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(58, 76, 238);
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}

a.discord-nav:hover {
  background-color: rgb(33, 29, 151);
}

/* Phone */
@media screen and (max-width: 480px) {
  .header a.discord-nav {
    transform: scale(0.9);
    font-size: 14px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    top: 16px;
  }
}

/* Tablet */
@media screen and (min-width: 480px) {
  .header {
    height: 70px;
  }
  .header img {
    top: 10px;
    left: 18px;
    width: 50px;
    height: 50px;
  }
  .header a.discord-nav {
    transform: scale(1);
    font-size: 16px;
    top: 16px;
    right: 18px;
  }
}

/* Laptop */
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header img {
    top: 10px;
    left: 24px;
    width: 60px;
    height: 60px;
  }
  .header a.discord-nav {
    font-size: 18px;
    top: 21px;
    right: 24px;
    transform: scale(1.1);
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .header {
    height: 90px;
  }
  .header img {
    top: 16px;
    left: 26px;
    width: 60px;
    height: 60px;
  }
  .header a.discord-nav {
    transform: scale(1.15);
    top: 26px;
    right: 26px;
  }
}

.content {
  margin-top: 150px;
  text-align: center;
}

.intro {
  margin-top: 90px;
  margin-bottom: 100px;
  padding: 0 20px;
  text-align: center;
}

.intro h1 {
  font-size: 40px;
  padding-top: 30px;
  margin-bottom: 25px;
}

.intro p {
  font-size: 16px;
  margin: 0 2px;
}

.intro p span {
  text-decoration: underline;
}

.intro p a {
  color: rgb(184, 57, 57);
  font-style: italic;
}
.intro p a:hover {
  text-decoration: underline;
}

/* Tablet */
@media screen and (min-width: 480px) {
  .intro h1 {
    font-size: 50px;
  }

  .intro p {
    font-size: 18px;
  }
}

/* Laptop */
@media screen and (min-width: 768px) {
  .intro h1 {
    font-size: 60px;
  }

  .intro p {
    font-size: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .intro h1 {
    font-size: 70px;
  }

  .intro p {
    font-size: 24px;
  }
}

.team h1.team-title {
  flex: 100%;
  color: white;
  font-size: 30px;
  margin: 5px 0;
  text-decoration: underline;
}

.team p.team-info {
  flex: 100%;
  color: rgb(238, 238, 238);
  font-size: 13px;
  margin: 0 0 20px;
}

.team {
  background-image: linear-gradient(rgb(230, 60, 60), rgb(250, 168, 168));
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-item {
  flex: 30%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 20px 0;
  box-sizing: border-box;
  margin: 1px;
  transition: 0.2s;
}

.team .team-item:hover {
  transform: scale(0.98);
}

.team-item img.image {
  width: 100px;
  height: 100px;
  transform: scale(0.9);
  object-fit: cover;
  object-position: -8px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid rgb(246, 246, 246);
  box-shadow: 0 0 1px 3px rgb(230, 60, 60);
}

.team-item.lynx {
  flex: 100%;
}

.raka img.image {
  object-position: -14px;
}
.hisyam-zuhdi img.image {
  object-position: -21px;
}

.rommel-fox img.image {
  object-position: 0px;
}

.team-item h1,
h2,
p {
  padding: 0 10px;
}

.team-item h1 {
  font-size: 18px;
  color: rgb(105, 44, 44);
}

.team-item h2 {
  font-size: 11px;
  margin-bottom: 15px;
}
.team-item p {
  font-size: 13px;
  flex-grow: 1;
}

.read-more-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background-color: rgb(255, 213, 213);
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  overflow: auto;
  overflow-x: hidden;
  transition: 0.4s;
}

.team-item .read-more-overlay h1 {
  padding: 10px 0;
}

.read-more-overlay:hover {
  opacity: 1;
}

/* Tablet */
@media screen and (min-width: 480px) {
  .team h1.team-title {
    font-size: 35px;
  }

  .team p.team-info {
    font-size: 15px;
  }

  .team-item img.image {
    transform: scale(1);
  }

  .team .team-item h1 {
    font-size: 20px;
  }

  .team .team-item h2 {
    font-size: 13px;
  }

  .team .team-item p {
    font-size: 15px;
  }
}

/* Laptop */
@media screen and (min-width: 768px) {
  .team h1.team-title {
    font-size: 40px;
  }

  .team p.team-info {
    font-size: 17px;
  }

  .team-item img.image {
    transform: scale(1.1);
  }

  .team .team-item h1 {
    font-size: 22px;
  }

  .team .team-item h2 {
    font-size: 15px;
  }

  .team .team-item p {
    font-size: 17px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .team h1.team-title {
    font-size: 45px;
  }

  .team p.team-info {
    font-size: 19px;
  }

  .team-item img.image {
    transform: scale(1.1);
  }

  .team .team-item h1 {
    font-size: 24px;
  }

  .team .team-item h2 {
    font-size: 17px;
  }

  .team .team-item p {
    font-size: 19px;
  }
}

.download {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3px;
  background-color: rgb(250, 168, 168);
  padding: 0 5px 40px;
}

.download h1[class] {
  display: flex;
  flex: 100%;
  justify-content: center;
  color: rgb(133, 25, 25);
  text-decoration: underline;
  font-size: 26px;
  padding: 30px 0;
}

.download .version-card {
  display: flex;
  flex-direction: column;
  flex: 40%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin: 0 auto;
  padding: 8px;
  box-sizing: content-box;
  transition: 0.2s;
}

.download .version-card h1 {
  font-size: 30px;
  color: rgb(114, 16, 16);
  border-bottom: 1px solid rgb(230, 60, 60);
}

.download .version-card p {
  margin: 30px 0;
  font-size: 13px;
  flex-grow: 1;
}

.version-card a.downloadBtn {
  background-color: rgb(149, 40, 40);
  width: auto;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  transition: 0.2s;
}

.version-card a.downloadBtn:hover {
  background-color: rgb(101, 2, 2);
}

.version-card a.downloadBtn:active {
  transform: scale(0.95);
}

/* Tablet */
@media screen and (min-width: 480px) {
  .download h1[class] {
    font-size: 28px;
  }

  .download .version-card h1 {
    font-size: 32px;
  }

  .download .version-card p {
    font-size: 15px;
  }
}

/* Laptop */
@media screen and (min-width: 768px) {
  .download h1[class] {
    font-size: 30px;
  }

  .download .version-card h1 {
    font-size: 34px;
  }

  .download .version-card p {
    font-size: 17px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .download h1[class] {
    font-size: 32px;
  }

  .download .version-card h1 {
    font-size: 36px;
  }

  .download .version-card p {
    font-size: 19px;
  }
}
